.reveal strong{ color: #5fabfc}
a:link { border-bottom: 2px solid #666; }
.reveal pre { margin: 0.5em 0; }
.reveal pre code {
  font-size: 1.25em;
  padding: 0 5px 0 10px;
  line-height: 1.25em;
  max-height: 436px;
}
.reveal li code { color: #9f9; font-size: 1em }
.reveal p code { color: #9f9; }
.left-align { text-align: left; }
.big-pic p img { width: 84%; }
.reveal h1 { line-height: 1em; }
.reveal ul { margin-bottom: .5em; }
.reveal li { padding-top: 0.15em; }
.reveal blockquote {
  text-align: left;
  padding: .25em 1.5em .5em;
}
button,
.ref-links a { font-size: 0.75em; }
.crammed ul,
.crammed ol,
.crammed p { font-size: 0.9em; }
.reveal .smalltext p,
.reveal .smalltext li { font-size: 0.75em; }
.reveal .small-head h1 { font-size: 2em; margin: 0; }
.reveal .small-subheads h2 { font-size: 1.25em; margin: 0; }
.reveal .small-subheads ul { padding-top: 0; }
.ext-links a[title^="ext:"]:after {
  position: relative;
  text-decoration: none;
  font: 0.75em "FontAwesome";
  content: "\f08e";
  bottom: 0.25em;
}
.small-table table {
  font-size: 0.58em;
}