.reveal strong{ color: #5fabfc}
a:link { border-bottom: 2px solid #666; }
.reveal pre { margin: 0.5em 0; }
.reveal pre code {
  font-size: 1.25em;
  padding: 0 5px 0 10px;
  line-height: 1.25em;
  max-height: 436px;
}
.reveal li code { color: #9f9; font-size: 1em }
.reveal p code { color: #9f9; }
.left-align { text-align: left; }
.reveal h1 { line-height: 1em; }
.reveal ul { margin-bottom: .5em; }
.reveal li { padding-top: 0.15em; }
.reveal blockquote {
  text-align: left;
  width: 100%;
  padding: .25em 1.5em .5em;
}
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  box-shadow: none;
}
button,
.ref-links a { font-size: 0.75em; }
.crammed ul,
.crammed p { font-size: 0.8em; }
.ext-links a[title^="ext:"]:after {
  position: relative;
  text-decoration: none;
  font: 0.75em "FontAwesome";
  content: "\f08e";
  bottom: 0.25em;
}
.small-table table {
  font-size: 0.58em;
}